@using Todo.Controllers
@using Todo.Data.Entities
@using Todo.Models.TodoItems
@using Todo.Services
@model Todo.Models.TodoLists.TodoListDetailViewmodel

@{
    ViewData["Title"] = $"List: {Model.Title}";
}

<h2>@ViewData["Title"]</h2>

<div class="col-md-6">

    <ul class="list-group">

        <li class="list-group-item">
            <a asp-action="Create" asp-controller="TodoItem" asp-route-todoListId="@Model.TodoListId">
                <strong>Add New Item</strong>
            </a>
        </li>
        <li class="list-group-item"> 
            <form method="get" asp-action="Detail" asp-controller="TodoList">
                @Html.HiddenFor(x => x.TodoListId)
                @Html.RadioButtonFor(x => x.SortOperation, TodoItemSortByOperation.Importance, new { onchange = "this.form.submit()" }) @TodoItemSortByOperation.Importance.ToString()
                <br />
                @Html.RadioButtonFor(x => x.SortOperation, TodoItemSortByOperation.Rank, new { onchange = "this.form.submit()" }) @TodoItemSortByOperation.Rank.ToString()
                <br />
            </form>
        </li>
        <li class="list-group-item">
            <input type="checkbox" id="hide-done-items" /> Hide Done Items
        </li>

        @foreach (var item in Model.Items)
        {
            string contextualClass;
            switch (item.Importance)
            {
                case Importance.High:
                    contextualClass = "list-group-item-danger";
                    break;
                case Importance.Low:
                    contextualClass = "list-group-item-info";
                    break;
                default:
                    contextualClass = "";
                    break;
            }

            <li class="list-group-item @contextualClass @(item.IsDone ? "done-item" : string.Empty)">

                <div class="row">

                    <div class="col-md-8">
                        <a asp-action="Edit" asp-controller="TodoItem" asp-route-todoItemId="@item.TodoItemId">

                            @if (item.IsDone)
                            {
                                <s>@item.Title</s>
                            }
                            else
                            {
                                <text>@item.Title</text>
                            }
                        </a>
                    </div>

                    <div class="col-md-4 text-right">
                        <small>
                            @item.ResponsibleParty.UserName

                            <img src="https://www.gravatar.com/avatar/@Gravatar.GetHash(item.ResponsibleParty.Email)?s=30" />

                        </small>
                    </div>
                </div>

            </li>
        }
    </ul>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            $('#hide-done-items').change(function () {
                if ($(this).is(':checked')) {
                    $('.list-group .done-item').hide();
                } else {
                    $('.list-group .done-item').show();
                }
            });
        });
    </script>
}